
#board{
    height: 400px;
    width: 400px;
    background-color: rgb(123, 219, 28);
    margin: 200px auto;
    position: relative;
}
#Snake{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 6px;
    background-color: cornflowerblue;
}
#button{
    text-align: center;
}
#gamecontrol{
 text-align: center;
}